/*Adds a margin to everything and a background color to the body*/
* {
    margin: 5px;
    margin-top: 10px;
  }
  body
  {
    background-color: #2d2d2d;
  }
/*Changes position, adds a border and a transition so it turns into a responsive menu*/
#LOTR
{
border:5px solid #13889a;
padding: 5px;
margin-right: -5px;
transition: border-top-width 0.5s;
margin-top: 15px;
}
#mando
{
  border:5px solid #13889a;
  padding: 5px;
  margin-left: -5px;
  margin-right: -5px;
  transition: border-top-width 0.5s;
  margin-top: 15px;
}
#credits
{

  border:5px solid #13889a;
  padding: 5px;
  margin-left: -5px;
  transition: border-top-width 0.5s;
  text-align: center;
  margin-top: 15px;
}
/*Extends the border with a transition a bit so it's easier for the user to see what they are selecting*/
#credits:hover
{
  border-top-width: 10px;
}
#mando:hover
{
  border-top-width: 10px;
}
#LOTR:hover
{
  border-top-width: 10px;
}
/*When you are hovering over a link it's selected with a grey background*/
a:hover
{
 background-color: grey;
}
/*Removes link decoration and makes the interface look clean*/
nav a
{
  padding:10px 15px;
  background-color:#0a004b;
  color: #15a173;
  margin-top:30px;
  
  border: 5px black solid;
  text-decoration: none;
  font-weight: bold;
}
nav
{
  margin-left: 41.7%;
}
#clock {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: 'Orbitron', sans-serif;
  background-image: linear-gradient(180deg,
    #13889a 0%,
    #13889a 50%,
    #13889a 100%);
}
/*Changes the font to Roboto*/
a
{
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Changes the text to a lengthier one when you hover over*/
#LOTR:hover:before
{
  content: "Draktränaren";
}

#mando:hover:before
{
  content: "Mandalorian";
}
/*When you are hovering over drak or mando the text is hidden so it doesn't say "drakdraktränaren"*/
#LOTR:hover span
{
  display: none;
}
#mando:hover span
{
  display: none;
}
/*Puts a border around the video*/
.ytvideo
{
  margin-top: 50px;
border-bottom: 5px solid #13889a;
border-top: 5px solid #13889a;
border-left: 5px solid #0a004b;
border-right: 5px solid #0a004b;
}
/*Changes the size of tandlöse and puts a border around him*/
#Tandlöse
{
  width: 560px;
  height: auto;
border-bottom: 5px solid #13889a;
border-top: 5px solid #13889a;
border-left: 5px solid #0a004b;
border-right: 5px solid #0a004b;

}
/*Changes where the pointingguy is positioned*/
#PointingGuy
{
  width: 120px;
  position: absolute;
  left: 0px;
  top: -56px;
}
