/*Adds a margin to everything and a background color to the body*/
* {
    margin: 10px;
  }
  body
  {
    background-color: #2D2D2D;
  }
/*Changes position, adds a border and a transition so it turns into responsive menu*/
#LOTR
{
border:5px solid #2B4657;
padding: 5px;
margin-right: -5px;
transition: border-top-width 0.5s;
margin-top: 15px;
}
#mando
{
  border:5px solid #2B4657;
  padding: 5px;
  margin-left: -5px;
  margin-right: -5px;
  transition: border-top-width 0.5s;
  margin-top: 15px;
}
#credits
{

  border:5px solid #2B4657;
  padding: 5px;
  margin-left: -5px;
  transition: border-top-width 0.5s;
  text-align: center;
  margin-top: 15px;
}
/*When you are hovering over a link it's selected with a grey background*/
a:hover
{
 background-color: grey;
}
/*Extends the border with a transition a bit so it's easier for the user to see what they are selecting*/
#credits:hover
{
  border-top-width: 10px;
}
#mando:hover
{
  border-top-width: 10px;
}
#LOTR:hover
{
  border-top-width: 10px;
}
/*Removes link decoration and makes the interface look clean*/
nav a
{
  padding:10px 15px;
  background-color:#5B7F8B;
  color:#FFE77AFF;
  margin-top:30px;
  overflow:hidden;
  border: 5px black solid;
  text-decoration: none;
  font-weight: bold;
}
nav
{
  margin-left: 41.7%;
}
/*Changes position, font and color of the clock*/
#clock {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: 'Orbitron', sans-serif;
  background-image: linear-gradient(180deg,
  #2B4657 0%,
      #2B4657 50%,
    #2B4657 100%);
}
/*Changes the font to Roboto*/
a
{
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Changes the text to a lengthier one when you hover over*/
#LOTR:hover:before
{
  content: "Draktränaren";
}
#mando:hover:before
{
  content: "Mandalorian";
}
/*When you are hovering over drak or mando the text is hidden so it doesn't say "drakdraktränaren"*/
#LOTR:hover span
{
  display: none;
}
#mando:hover span
{
  display: none;
}
/*Puts a border around the video*/
.ytvideo
{
  border-top:5px solid #FFE77AFF;
  border-bottom:5px solid #FFE77AFF;
  border-left: 5px solid #2B4657;
  border-right: 5px solid #2B4657;
}
/*Changes width and height of bild*/
.bild
{
  height: 560px;
  width: auto;
}
/*Adds a border, width, background color and changes the position*/
p
{
  border-top:5px solid #FFE77AFF;
  border-bottom:5px solid #FFE77AFF;
  border-left: 5px solid #2B4657;
  border-right: 5px solid #2B4657;
  width: 170px;
  background-color: #5B7F8B;
  left: 1050px;
  bottom:944px;
  position: relative;
}
/*When the height of the screens value is higher than the base of the screen it reorients multiple elements to make it easier to see*/
@media only screen and (orientation: Portrait) {
  p {
    left: 260px;
    bottom:334.5px;
  }
  /*Changes "om vänster" to "Ovanför" because it's above and not to the left anymore*/
  p:before
  {
    content: "Den här sidan handlar om Mandalorian. Mandalorian är en star wars serie som handlar om en snubbe som är en prisjägare. Ovanför om texten så kan vi se ett videoklipp som är huvudlåten av Star Wars. Vi kan också se en bild vilket är bilden på prisjägaren och baby yoda.";
  }
  /*Removes the old text*/
  .textchange
  {
    display: none;
  }
  .bild
  {
  height: 480px;
  }
  .ytvideo
  {
    height: 300px;
  }
}

/*Changes where the pointingguy is positioned and adds a transition on hover*/
#PointingGuy
{
  width: 120px;
  position: absolute;
  left: 0px;
  top: -56px;
  transition: transform 0.5s;
}
#PointingGuy:hover
{
transform: rotate(360deg);
}
/*Makes the footer white*/
footer
{
  color: white;
}